{% extends "./base.html" %}

{% block title %} Gestion de Empleados {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
        <h2>Gestion de Metricas</h2><br>
        <div class="card">
            <div class="card-body">
                <form action="/registrarEmpleados/" method="POST"> {% csrf_token %}
                    <div class="form-group py-2">
                        <input type="number" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo" minlength="5" maxlength="20" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtApellido" name="txtApellido" class="form-control" placeholder="Apellido" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="txtEdad" name="txtEdad" class="form-control" placeholder="Edad" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="txtPeso" name="txtPeso" class="form-control" placeholder="Peso" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="txtFCardiaca" name="txtFCardiaca" class="form-control" placeholder="Frecuencia cardiaca" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="txtStress" name="txtStress" class="form-control" placeholder="Nivel de Estrés" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="txtSOSangre" name="txtSOSangre" class="form-control" placeholder="Saturacion oxigeno en sangre" maxlength="50" required>
                    </div>
                    <div class="form-group d-grid gap-2 py-2">
                        <button type="submit" class="btn btn-success btn-block text-light ">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h2>Listado de Pacientes</h2><br>
        <div class="table-responsive py-2">
            <table class="table table-striped table-bordered border-light" style="background-color: rgb(255, 255, 255);">
                <thead class="table-dark border border-2">
                    <tr>
                        <th>#</th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Peso (Kg)</th>
                        <th>F. Cardiaca BPM/PPM</th>
                        <th>Nivel de Estrés</th>
                        <th>Saturacion de oxigeno en sangre (SpO2)</th>
                        <th style="text-align:center;">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in empleados %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.codigo}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.apellido}}</td>
                        <td>{{c.edad}}</td>
                        <td>{{c.peso}}</td>
                        <td>{{c.Fcardiaca}}</td>
                        <td>{{c.stress}}</td>
                        <td>{{c.SOsangre}}</td>
                        <td><a href="editarEmpleado/{{c.codigo}}" class="btn btn-info text-light">Editar</a> <a href="eliminarEmpleado/{{c.codigo}}" class="btn btn-danger">Eliminar</a></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock content %}